<% @slogan.each do |slogan|%>
  <div class="container-fluid" id="slogan">
    <div class="container padding-section">
      <h1 class="text-center">
        <%= slogan.title%>
      </h1>
      <div class="col-md-6 center">
        <a class="btn btn-slogan-contact" href="#contact">Contact Us</a>
      </div>

      <a class="btn btn-warning" data-toggle="modal" data-target="#slogan-modal">Editar Sobre Nosotros</a>
    </div>
  </div>
<%end%>
