#contact{
  color: $footer-black;
  a{
    cursor: pointer;
  }
   p{
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
    color: $orange;
    &:hover{
      cursor: pointer;
    }
  } .contact-inputs{
    background: rgba(#fff, 0.37);
    border: 2px solid rgba(#ffffff, 0.95);
    color: $footer-black;
    font-weight: 100;
    letter-spacing: 4px;
    border-radius: 3px;
    @include transition(all 1s);
    &:focus{
      box-shadow: none;
      border-color: $orange;
      @include transition(all 1s);
    }
  }
  hr{
    border-top-color: #000 !important;
    width: 60%;
  }
}

// .google-maps{
//   height: 100%;
//   background-attachment: fixed;
//   // -webkit-background-size: cover;
//   // -moz-background-size: cover;
//   background-size: cover;
//   // -o-background-size: cover;
// }
