@import "modules/all";
//gallery- portfolio
#gallery{
  padding-left: 0px;
  padding-right: 0px;
  .portfolios{
    padding: 1px;
  }
}
.p-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@import "img-hover";
@import "gallery-modals";
