@import "modules/all";
#services{
  p{
    font-weight: 100;
  }
  .services-icon{
    width: 100px;
    height: 100px;
  }
  hr{
    border-top-color: #000 !important;
  }
}
.service-name{
  font-style: italic; color: $orange;
}
