@import "modules/all";
#slogan{
  background-color: $orange;
  color: $footer-black;
   h1{
     font-weight: 100;
     letter-spacing: 10px;
     text-transform: uppercase;
   }
   .btn-slogan-contact{
     text-align: center;
     width: 100%;
     margin-top: 20px;
     background: none;
     border: 2px solid $footer-black;
     padding: 3% 0;
     letter-spacing: 4px;
     color: #000;
     @include transition(all .6s);

     &:hover{
       border-color: $white;
       color: #fff;
       @include transition(all .6s);
     }
   } #sloganModal .modal-dialog{
       width: 30%;
       .modal-content{
         position: absolute;
       }
   }
}
