// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "modules/all";
@import "nav";
@import "header";
@import "services";
@import "slogan";
@import "gallery";
@import "contact";
@import "footer";
@import "font-awesome";
body{
  font-family: 'Lato', sans-serif;
}
#notice-wrapper{
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1050;
  background: $purple;
  p{
    padding: 2rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
  }
}


h1{
  font-size: 40px;
}

p{
  font-size: 18px;
}
a{
  cursor: pointer !important;
  &:hover{
    cursor: pointer !important;
  }
}

.btn-border{
  border: 1px solid $white;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 200;
  @include transition(all .6s);
  &:hover{
    color: #fff;
    @include transition(all .6s);
  }
}

.btnfos{
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fff !important;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  outline: 1px solid !important;
  outline-color: rgba(255, 255, 255, 0) !important;
  outline-offset: 0px !important;
  text-shadow: none !important;
  transition: .8s ease-in-out all;
  -webkit-transition: .8s ease-in-out all;
  -moz-transition: .8s ease-in-out all;
  -o-transition: .8s ease-in-out all;
  border-radius: 2px;
}

.btnfos:hover {
  color: #fff;
  border: 1px solid #fff !important;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.2) !important;
  outline-color: rgba(255, 255, 255, 0) !important;
  transition: .8s ease-in-out all;
  -webkit-transition: .8s ease-in-out all;
  -moz-transition: .8s ease-in-out all;
  -o-transition: .8s ease-in-out all;
}

input.form-control, .form-control[readonly]{
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #d1d1d1;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.text-center{
  text-align: center;
}

.center{
  margin: 0 auto;
  float: none;
}

.margin-bottom{
  margin-bottom: 80px;
}
.padding-none{
  padding: 0;
}
.padding-section{
  padding-top: 6%;
  padding-bottom:6%;
}
.padding-top-little{
  padding-top: 15px;
}

.padding-section-elements-top{
  padding-top: 3%;
}

.padding-section-elements-bottom{
  padding-bottom: 3%;
}


.btn{
  border-radius: 0px;
}

.btn-big{
  padding: 1% 3%;
  font-size: 15px;
  letter-spacing: 2px;
}
